
.header .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1.3px;
}
.heading{
    margin:10px;
}
.counter-box p{
    margin:10px;
    border-bottom: 30px;
}


div {
    display: block;
    unicode-bidi: isolate;
}
body {
    font-family: sans-serif;
    color: white;
    text-align: center;
    background-color: black;
}
button{
    height:30px;
    margin:10px;
}
#error {
    color: red;
    display: none;
  }